[submodule "petpal-admin"]
	path = petpal-admin
	url = https://github.com/rzvsd/petpal-admin.git
[submodule "petpal-oss-references"]
	path = petpal-oss-references
	url = https://github.com/rzvsd/petpal-oss-references.git
[submodule "petpal-shared"]
	path = petpal-shared
	url = https://github.com/rzvsd/petpal-shared.git
[submodule "petpal-supabase"]
	path = petpal-supabase
	url = https://github.com/rzvsd/petpal-supabase.git
[submodule "PetPalMobileBuild"]
	path = PetPalMobileBuild
	url = https://github.com/rzvsd/PetPalMobileBuild.git
